img{
    width: 300px;
    height: 300px;
}

h1{
    line-height: 120px;
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: center;
}

h1:hover{
    background-color: lightskyblue;
}